---
# Security hardening: SSH, fail2ban, firewall

- name: Install security packages
  apt:
    name:
      - fail2ban
      - ufw
    state: present
    update_cache: yes

- name: Configure SSH - disable password authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    state: present
  notify: restart sshd

- name: Configure SSH - disable root login with password
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin prohibit-password'
    state: present
  notify: restart sshd

- name: Configure SSH - enable public key authentication
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PubkeyAuthentication'
    line: 'PubkeyAuthentication yes'
    state: present
  notify: restart sshd

- name: Create fail2ban jail.local
  copy:
    dest: /etc/fail2ban/jail.local
    content: |
      [DEFAULT]
      bantime = 3600
      findtime = 600
      maxretry = 5

      [sshd]
      enabled = true
      port = ssh
      logpath = /var/log/auth.log
      maxretry = 3
      bantime = 86400
    mode: '0644'
  notify: restart fail2ban

- name: Enable and start fail2ban
  systemd:
    name: fail2ban
    enabled: yes
    state: started

- name: Configure UFW - allow SSH
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Configure UFW - allow container SSH ports
  ufw:
    rule: allow
    port: '{{ item }}'
    proto: tcp
  loop:
    - '2222'
    - '2223'
    - '2224'

- name: Configure UFW - allow HTTP/HTTPS
  ufw:
    rule: allow
    port: '{{ item }}'
    proto: tcp
  loop:
    - '80'
    - '443'

- name: Configure UFW - allow container web ports
  ufw:
    rule: allow
    port: '14000:14029'
    proto: tcp

- name: Enable UFW
  ufw:
    state: enabled
    policy: deny
